@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./base/variable", "./base/reset";

.cursor {
  &__inner,
  &__outer {
    @apply absolute top-0 left-0;
    transform: translate3d(-50%, -50%, 0);
  }
  &__inner {
    width: 1rem;
    height: 1rem;
    background-color: var(--clr-black);
    border-radius: 999px;
    z-index: 999;
  }
  &__outer {
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--clr-black);
    border-radius: 999px;
    z-index: 999;
  }
}

#app {
  @apply grid w-full;
  height: calc(100 * var(--vh));
  place-content: center;
  h1 {
    @apply text-center mx-auto font-bold;
    width: 70%;
    font-size: 5vw;
    font-weight: 700;
  }
}
